<launch>
    <node name="mask_rcnn" pkg="mask_rcnn_ros" type="mask_rcnn_node" output="screen">
        <remap from="~input" to="/kitti/camera_color_left/image_raw" />
        <param name="~visualization" value="true" />
    </node>
	<node name="ex_param_calib_node" pkg="extrinsic_parameter_calibration" type="extrinsic_parameter_calibration_node.py">
		<remap from="~mask_rcnn_result" to="/mask_rcnn/result"/>
	</node>
	<node name="mask_image_view" pkg="image_view" type="image_view">
		<remap from="image" to="ex_param_calib_node/mask_img"/>
	</node>

    <node name="bag" pkg="rosbag" type="play"
        args="-l $(find mask_rcnn_ros)/examples/kitti_bags/kitti_2011_09_26_drive_0091_synced.bag" />

    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find mask_rcnn_ros)/examples/kitti_example.rviz" />
</launch>
